{% extends "base.html" %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="/static/members/index.css">
{% endblock %}

{% block content %}
	{% include "navbar.html" %}

	<div class="top-separator"></div>
	<div id="members-content">
		{% if sample_members %}
			<h3>These are many of our members</h3>
			<h6>We currently show <strong>{{ member_quantity }}</strong> of our members!</h6>
			<small>Don't you appear here? Edit a field in your profile!</small><br>

			{% for member in sample_members %}
				<div class="avatar-container">
					<a style="text-decoration:none;" href="/members/{{ member.id }}/">
						<img src="https://cdn.discordapp.com/{{ member.discord.avatar }}?size=128" class="member-avatar big-round" data-aos="zoom-out-up">
					</a>
				</div>
			{% endfor %}
		{% else %}
			<h3>There was an error!</h3>
			<small>Our services are not working properly right now. Come back later.</small>
		{% endif %}
	</div>
{% endblock %}