{% extends "base.html" %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="/static/announcements/index.css">
	<link rel="stylesheet" type="text/css" href="/static/home/index.css">
	<script type="text/javascript">var dont_load_announcements_on_start = true;</script>
	<script type="text/javascript" src="/static/announcements/index.js"></script>
	<script type="text/javascript" src="/static/home/index.js"></script>
{% endblock %}

{% block content %}
	<div class="logo">
		<img src="/static/home/fifty_shades.png" class="resize-big" animate="fadeInUp" hide="true">
		<img src="/static/home/of_lua.png" class="resize-small" animate="fadeInUp" hide="true">
		<div class="pre-menu hidden" animate="fadeInDown" hide="true">
			<a href="#about" class="normal">{{ translate.about }}</a><vl> </vl>
			{% if request.user.logged %}
				<a href="/api/oauth2/logout/" class="normal">{{ translate.logout }}</a>
			{% else %}
				<a href="/api/oauth2/authorize/" class="normal">{{ translate.login }}</a>
			{% endif %}<vl> </vl>
			<a href="#" class="normal">{{ translate.projects }}</a><vl> </vl>
			<a href="#members" class="normal">{{ translate.members }}</a><vl> </vl>
			<a href="#" class="normal">{{ translate.statistics }}</a><vl> </vl>
			<a href="#announcements" class="normal">{{ translate.announcements }}</a>
		</div>
	</div>

	{% include "navbar.html" %}
	<div id="after-navbar"></div>

	<div id="about">
		<div class="about-info-container"><div class="about-panel" id="about-info">
			<h3>{{ translate.about }}</h3>
			{{ translate.about_info }}
		</div></div>
		<div class="more-info-container"><div class="about-panel" id="more-info">
			<h3>{{ translate.keep_reading }}</h3>
			<div id="more-info-text">
				<div class="mglass"><i class="fa fa-search"></i></div>
				{{ translate.more_info }}
			</div>
			<div id="community" class="hidden">{{ translate.high_community }}</div>
		</div></div>
	</div>
	<div style="margin-bottom:2rem"></div>

	<div id="announcements">
		{% if announcements %}
			{% autoescape off %}
				{% for message in announcements %}
					<div class="announcement" data-aos="fade-up">
						<div>
							<img src="https://cdn.discordapp.com/{{ message.avatar }}?size=128" class="announcement-author-avatar big-round">
							<span class="announcement-author-name" style="color:#{{ message.color }};">{{ message.author }}</span>
							<span class="announcement-author-date real-date">{{ message.timestamp }}</span>
							<span class="announcement-author-date">|</span>
							<span class="announcement-author-date">in #{% if message.small %}small-{% endif %}announcements</span>
						</div>
						<hr class="announcement-separator">
						<div class="announcement-content">
							{{ message.message }}
							{% for attachment in message.attachments %}
								<br><br><img src="{{ attachment }}" class="announcement-attachment">
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			{% endautoescape %}

			<div class="announcement" data-aos="fade-up">
				<div>
					<img src="https://cdn.discordapp.com/avatars/596775737764085781/d6b1cc1e894e824366df5a254aed68a1?size=128" class="announcement-author-avatar big-round">
					<span class="announcement-author-name" style="color:#95a5a6;">Darky <span class="bot-tag">BOT</span></span>
					<span class="announcement-author-date real-date">{{ right_now }}</span>
				</div>
				<hr class="announcement-separator">
				<div class="announcement-content">
					Are you interested in reading more about the server? You could <a href="/announcements/">click this link</a> to read more announcements, or you could click on <a href="https://discord.gg/quch83R" target="_blank">this one</a> to join our community, talk with our members and be notified when there is any new!
				</div>
			</div>
		{% else %}
			<div class="announcement" data-aos="fade-up">
				<div>
					<img src="https://cdn.discordapp.com/avatars/596775737764085781/d6b1cc1e894e824366df5a254aed68a1?size=128" class="announcement-author-avatar big-round">
					<span class="announcement-author-name" style="color:#95a5a6;">Darky <span class="bot-tag">BOT</span></span>
					<span class="announcement-author-date real-date">{{ right_now }}</span>
				</div>
				<hr class="announcement-separator">
				<div class="announcement-content">
					Seems like someone dropped some coffee in our servers and they're not working properly right now... You'd come back later to see if this has been fixed! While you wait, you could <a href="https://discord.gg/quch83R" target="_blank">join our discord server</a> to join our community!
				</div>
			</div>
		{% endif %}

		<script type="text/javascript">
			elements = document.getElementsByClassName("real-date");
			for (var index = 0; index < elements.length; index++) {
				var element = elements[index];

				element.innerHTML = (new Date(parseInt(element.innerHTML) * 1000)).toLocaleString();
			}

			parse_ping_elements();
		</script>
	</div>

	<div id="members" style="max-width:100%;text-align:center;">
		{% if sample_members %}
			<h3 data-aos="zoom-in">These are some of our members</h3>
			<h6 data-aos="zoom-in">Do you still doubt about joining our community?</h6>
			<small data-aos="zoom-in">You could check the complete list <a href="/members/">clicking here</a></small><br>

			{% for member in sample_members %}
				<div style="display:inline-block;padding-left:1rem;padding-right:1rem;">
					<a class="member" href="/members/{{ member.id }}/">
						<div class="member" data-aos="zoom-out-up">
							<div style="position:absolute;top:.5rem;text-align:center;width:100%;">
								{% if member.discord.is_mod %}
									<img src="https://discordapp.com/assets/ef015a42cac1a2009f9eecf8915d9e35.svg" style="width:1.25rem;height:auto;" alt="Moderator">
								{% endif %}
								{% for check in member_role_check %}
									{% for role in member.discord.roles %}
										{% if check.0 == role.0 %}
											<img src="{{ check.1 }}" style="width:1.25rem;height:auto;" alt="{{ check.0 }}">
										{% endif %}
									{% endfor %}
								{% endfor %}
							</div>
							<img src="https://cdn.discordapp.com/{{ member.discord.avatar }}?size=128" class="member-avatar big-round">
							<div style="width:100%;">
								<span class="member-name" style="color:#{{ member.discord.color }};">{{ member.discord.name }}</span>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		{% endif %}
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	a
{% endblock %}