div#members-content {
	text-align: center;
}
div.avatar-container {
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 2rem;
}
img.member-avatar {
	width: 6.4rem;
	height: auto;
}
img.member-avatar-small {
	width: 5rem;
	height: auto;
}
div.member {
	background-color: #111;
	text-align: center;
	display: inline-block;
	padding: 1.5rem;
	padding-bottom: .5rem;
	padding-left: 0;
	margin-bottom: 1rem;
	max-width: calc(100% - 2rem);
}
span.member-name {
	color: #999;
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: 0;
	margin-left: .3rem;
}
span.field-title {
	font-weight: 500;
}
div.fields-container span.member-name {
	margin-left: 0;
}
div.fields-container code.inline {
	width: 100%;
	margin: 0 -.2em;
}
div.fields-container a {
	width: 100%;
}
div.fields-container {
	margin-bottom: 1rem;
	margin-left: 1.5rem;
	min-width: 10rem;
	display: inline-grid;
}
div.outer-fields-container {
	text-align: left;
	margin-top: 2rem;
}